
/* ===================================
   Layout
==================================== */

.container {
    width: 85%;
    margin: 3rem auto;
    padding: 15px;
    // max-width: 120rem;
    // margin: auto;
}

.width-95 {
    width: 95%;
}

.width-90 {
    width: 90%;
}

.width-85 {
    width: 85%;
}

.width-80 {
    width: 80%
}

.width-75 {
    width: 75%;
}

.width-70 {
    width:70%;
}

.width-65 {
    width: 75%;
}

.width-60 {
    width: 60%
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.width-10 {
    width: 10%;
}


/* ===================================
   Display
==================================== */

.stretch {
    width: 100%;
}

.block {
    display: block !important;
}

.inline {
    display: inline-block !important;
}

.hide {
    display: none;
}

.hide-mobile {
    display: none !important;
}

/* ===================================
   Text Align
==================================== */

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}



@media only screen and (min-width: $breakpoint-lg) { 
    .hide-mobile {
        display: block !important;
      }
    
    .hide-desktop {
        display: none !important;
    }

    .container {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media only screen and (min-width: $breakpoint-sm) { 
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
}